/* HEADER ABOVE */

.header__above {
    height: 6rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_below {
    height: 4rem;
    background-color: var(--color-secondary);
}

.header__above-logo {
    font-size: 3.5rem;
    border: 2px solid var(--color-third);
    border-radius: 4px;
}

.header__above-logo:hover,
.header__above-account:hover,
.header__above-order:hover,
.header__above-cart:hover {
    cursor: pointer;
}

.header__above-search-form {
    margin: 0 1rem;
    width: 70vw;
    text-align: center;
    position: relative;
}

.header__above-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__above-search-input {
    height: 4rem;
    width: 69%;
    border: none;
    padding: 1.5rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.header__above-button {
    height: 4rem;
    width: 4rem;
    background-color: #f3a847;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header__above-search-input:focus {
    outline: none;
}

.header__above-order,
.header__above-account {
    font-size: 1.2rem;
    width: auto;
    margin: 0 1rem;
}

.header__above-order strong,
.header__above-account strong {
    font-size: 1.4rem;
}

.header__above-cart {
    font-size: 2.2rem;
    position: relative;
    width: auto;
    margin: 0 1rem;
}

.header__above-cart span:nth-of-type(2) {
    font-size: 1.4rem;
    font-weight: 500;
}

.cart__count {
    position: absolute;
    font-size: 1.6rem;
    color: var(--color-third);
    font-weight: bold;
    top: -1.2rem;
    left: 1rem;
}

.header__above-cart .cart__img {
    width: 38px;
    height: 26px;
    background-position: -10px -340px;
    background-repeat: repeat-x;
}

/* HEADER BELOW */
.header_below ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_below li {
    line-height: 4rem;
    font-size: 1.7rem;
}

.header_below ul>li:nth-of-type(4),
.header_below ul>li:nth-of-type(8),
.header_below ul>li:nth-of-type(10) {
    position: relative;
}

/* ACCESSORIES */
.header__below-accessories-nav {
    position: absolute;
    width: auto;
    top: 4rem;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    z-index: 99;
    display: grid;
    grid-template-columns: 200px 200px 220px 180px;
}

.header__below-accessories-nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -0.8rem;
    left: 9.6rem;
    border-bottom: 1rem solid #d9d9d9;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom-color: #fff;
}

.header__below-accessories-nav .accessory-heading {
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e1dfdf;
    color: #000;
}

.header__below-accessories-nav a {
    height: 2.8rem;
    line-height: 2.8rem;
    display: block;
    padding: 0;
    font-size: 1.4rem;
    color: #333;
}

.header__below-accessories-nav a:hover {
    color: #000;
    font-weight: bold;
}

/* PC AND PRINTER */

.header__below-pc-printer-nav {
    position: absolute;
    width: 17rem;
    top: 4rem;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    z-index: 99;
}

.header__below-pc-printer-nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -0.8rem;
    left: 11.1rem;
    border-bottom: 1rem solid #d9d9d9;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom-color: #fff;
}

.header__below-pc-printer-nav a {
    height: 2.8rem;
    line-height: 2.8rem;
    display: block;
    padding: 0;
    font-size: 1.6rem;
    color: #333;
}

.header__below-pc-printer-nav a:hover {
    color: #000;
    font-weight: bold;
}

/* UTILITIES */
.header__below-utilities-nav {
    position: absolute;
    display: grid;
    grid-template-columns: 250px 250px 250px 100px;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    top: 4rem;
    right: -4.5rem;
    z-index: 99;
}

.header__below-utilities-nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -0.8rem;
    right: 4rem;
    border-bottom: 1rem solid #d9d9d9;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom-color: #fff;
}

.utility-heading {
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e1dfdf;
    color: #000;
}

.header__below-utilities-nav a {
    display: block;
    color: #000;
    font-size: 1.4rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0;
}

.header__below-utilities-nav a:hover {
    color: #000;
    font-weight: bold;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    font-size: 2rem;
    font-weight: bold;
}

/* BRANDS */

.brand__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.brand__list a {
    border-radius: 52px;
    border: 1px solid #e0e0e0;
    padding: 0.6rem 1.3rem;
    margin: 0 1rem 1rem 0;
}

.brand__list a:hover {
    border: 1px solid #2f80ed;
}

.brand__list img {
    height: 2rem;
    vertical-align: middle;
}

/* PRODUCT LIST */
.product__list-heading {
    display: flex;
    justify-content: space-between;
}

.product__list-heading select {
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0.6rem 1rem 0.6rem 0.8rem;
}

.product__list-result {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 1rem;
}

.product__list-card {
    padding: 1rem 1.5rem 2rem 1.5rem;
    border: 1px solid rgb(243, 243, 243);
}

.product__list button {
    display: flex;
    margin: 2rem auto;
    padding: 1.5rem 5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(243, 243, 243);
    font-size: 1.4rem;
    font-weight: bold;
}

.product__list button:hover {
    background-color: #2f80ed;
    color: white;
}