/* SIGN-IN FORM */

.signin_form {
    display: block;
    width: 36rem;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    text-align: center;
    padding: 5rem 1rem;
    margin-top: 9.2rem;
    border-radius: 1rem;
    position: relative;
}

.signin_input {
    font-size: 1.7rem;
    padding: 1.2rem 1.6rem;
    margin: 1rem 0;
    line-height: 1.6rem;
    width: 33rem;
    border-radius: 0.6rem;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.signin_input:focus {
    border: 1px solid #dddfe2;
    outline: none;
}

.signin_form button {
    width: 33rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    background: #f0c14b;
    color: #555;
    font-weight: bold;
    padding: 1.5rem 0;
    margin: 2rem 0;
}

.signin_form button:hover {
    cursor: pointer;
    background: #e0a91d;
    color: #000;
}

.signin_forgot_password {
    color: rgb(24, 119, 342);
    font-size: 1.4rem;
}

.signin_divide {
    height: 1px;
    width: 33rem;
    background-color: rgb(218, 221, 225);
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: inline-block;
}

.signin_register-button {
    width: 22rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    background: #dcdfe3;
    font-weight: bold;
    color: #111;
    padding: 1.5rem 2rem;
    margin: 2rem 0;
}

/* SIGN-UP FORM */

.blur {
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.signup_form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: block;
    width: 40rem;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    text-align: center;
    padding: 4rem 2rem;
    margin-top: 9.2rem;
    border-radius: 1rem;
}

.form_exit-icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 2.4rem;
}

.form_exit-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.signup_input {
    font-size: 1.7rem;
    padding: 1rem 1.6rem;
    margin: 1rem 0;
    line-height: 1.6rem;
    width: 100%;
    border-radius: 0.6rem;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.signup_input:focus {
    border: 1px solid #dddfe2;
    outline: none;
}

.signup_gender-group,
.signup_birthdate-group {
    text-align: left;
    margin-bottom: 1rem;
}

.signup_birthdate-heading {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.signup_birthdate-select {
    display: flex;
    justify-content: space-between;
}

.signup_birthdate-select>select {
    font-size: 1.7rem;
    padding: 1rem 1.6rem;
    width: 30%;
    border-radius: 0.6rem;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.gender-option {
    font-size: 1.7rem;
    width: 30%;
    padding: 1rem 0;
    border-radius: 0.6rem;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.gender-option label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.signup_note {
    text-align: justify;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #777;
}

.signup_register-button {
    width: 22rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    background: #00a400;
    font-weight: bold;
    color: #fff;
    padding: 1.5rem 2rem;
    margin: 2rem 0;
}

.signup_register-button:hover {
    background: linear-gradient(#79bc64, #578843);
    cursor: pointer;
}

/* VALIDATION */
.error-input {
    border: 1px solid #be4b49 !important;
}

.error-input:focus {
    border: 1px solid #be4b49 !important;
}

.validation {
    background: #be4b49;
    color: #fff;
    border-radius: 0.2rem;
    padding: 1.5rem 1rem;
    font-size: 1.3rem;
    text-align: left;
    width: 20rem;
    box-shadow: 0 0 0 1px rgb(139 3 0 / 75%), 0 1px 10px rgb(0 0 0 / 35%);
}

/* USERNAME ERROR */

.username-error {
    position: absolute;
    left: -20rem;
    top: 20%;
}

.username-error:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #be4b49;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    right: -20px;
    top: 25%;
}

/* PASSWORD SIGNIN ERROR */
.password-signin-error {
    position: absolute;
    right: -20rem;
    top: 35%;
}

.password-signin-error:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #be4b49;
    border-left: 1rem solid transparent;
    border-top: 1rem solid transparent;
    left: -20px;
    top: 25%;
}

/* FIRST NAME ERROR */

.fistname-error {
    position: absolute;
    left: -20rem;
    top: 13%;
}

.fistname-error:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #be4b49;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    right: -20px;
    top: 25%;
}

/* LAST NAME ERROR */

.lastname-error {
    position: absolute;
    right: -20rem;
    top: 22%;
}

.lastname-error:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #be4b49;
    border-left: 1rem solid transparent;
    border-top: 1rem solid transparent;
    left: -20px;
    top: 25%;
}

/* EMAIL ERROR */

.email-error {
    position: absolute;
    left: -20rem;
    top: 31%;
}

.email-error:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #be4b49;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    right: -20px;
    top: 15%;
}

/* PASSWORD SIGNUP ERROR */

.password-signup-error {
    position: absolute;
    right: -20rem;
    top: 40%;
}

.password-signup-error:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #be4b49;
    border-left: 1rem solid transparent;
    border-top: 1rem solid transparent;
    left: -20px;
    top: 15%;
}

/* BIRTHDATE ERROR */

.date-error {
    position: absolute;
    left: -20rem;
    bottom: 39%;
}

.date-error:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #be4b49;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    right: -20px;
    top: 25%;
}

/* GENDER ERROR */

.gender-error {
    position: absolute;
    right: -20rem;
    bottom: 31%;
}

.gender-error:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #be4b49;
    border-left: 1rem solid transparent;
    border-top: 1rem solid transparent;
    left: -20px;
    top: 25%;
}

.error-select {
    border: 1px solid #be4b49 !important;
    border-radius: 0.5rem !important;
}